.body-estilo {
  background-color: rgba(163, 52, 51, 1);
}

.contendor {
  height: 100vh;
}


.navbar-cabecera {
  background-color: white;
  min-height: 190px;
}

.iconos-redes{
  max-width: 32px;
  max-height: 32px;
}

.imagenes-redes img{
  margin-top: 120px;

}

.barra-navegacion {
  background-color: rgba(200, 113, 40, 0.9);
  color: black;
}

.contenido {
  background-color: white;
  margin-bottom: 1em;
}

.accesos {
  background-color: white;
  height: 100%;
}

.barra-busqueda {
  margin-bottom: 1em;
}

.comentarios {
  min-height: 6em;
  background-color: white;
  margin-top: 1em;
}

.imagenUsuario {
  max-width: 50px;
  max-height: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
